body {
    background-color:black;
    font-family: arial;
    font-size: 20pt;
    line-height:1.5;
    text-align: justify;
    color: white
    
}
.container{
    width:50%;
    margin: auto;
    overflow: hidden;
    margin-left: 160px;


}

h2{
    color:blue;
}

header{
    background:black;
    color: white;
    min-height:20px;
    margin:20px;
    font-size: 23pt;
}
    

.highglight{
    color:black;
    font-weight: bold;
}

header li{
    display: inline;
     font-size: 20pt;
   
}

header a{
    text-decoration:none;
    color: white;
}

header a:hover{
    font-weight: bold;
    color:yellow;
    
}

footer a: hover{
    font-weight: bold;
    color:blue;
    
}

footer{
    background:black;
    color: yellow;
    min-height:20px;
    margin:20px;
    font-size: 23pt;
   
  
    
}



#footer li{
    list-style-type: none;
}

#main{
    text-align: left;
}

#sidebar{
    float: right;
    width:30%;
    margin-bottom:40px;
    margin-right:20px;
   
}

.dark{
    padding:30px;
    background:purple;
    color:black;
    margin-top:20px;
    margin-bottom:20px;
}

#sidebar2{
    float:right;
    margin-bottom:50px;
    margin-right:50px;
    margin-top: 20px;
     height: 100%; 
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
   
    
}
.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
   
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

#lakers{
    width: 100%
}

#main li{
    list-style-type: none;
    
}

#third{
    text-align: right
}

#test{
    font-weight: bold!important
}


header h1, nav .hat{
    float:none;
}